img {
	max-width: 100%;
	height: auto;
}

.panopticon {
	overflow: hidden;
}

.panopticon__container {
	overflow: hidden;
	transition: transform 0.5s ease;
}

.panopticon__slide {
	display: block;
	float: left;
}